<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Angular7 Java</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link " routerLink="appareils">Appareils</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Me suivre
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.linkedin.com/in/ahmed-ali-4b5403a9/" target="_blank">Linkdin</a>
                <a class="dropdown-item" href="#">Twiter</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://github.com/AhmedSoftware/" target="_blank">Github</a>
              </div>
            </li>
          </ul>
          <div class="navbar-right">
            <p>Vous êtes sur le site dépuis {{ secondes }} secondes !</p>
        </div>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search Appareil">
            <a routerLink="login" class="btn btn-primary my-2 my-sm-0">connexion</a>
          </form>
        </div>
      </nav>
</div>


