<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2> Mes appareils</h2>
      <h2> Mise à jour : {{ lastUpdate |async|date :'short'|lowercase}}</h2>
      <ul *ngFor ="let appareil of appareils" class="list-group">
        <app-appareil [appareilName]="appareil.name" [appareilStatus]="appareil.status"></app-appareil>
        <br>
      </ul>
      <button class="btn btn-success" 
              [disabled]="!isAuth"
              (click)="onAllumer()"> Tout allumer</button>
    </div>
  </div>
</div>