<h2> Mes appareils</h2>
<h2> Mise à jour : {{ lastUpdate |async|date :'short'|lowercase}}</h2>
<ul *ngFor ="let appareil of appareils; let i=index" class="list-group">
  <app-appareil [appareilName]="appareil.name" 
                [appareilStatus]="appareil.status"
                [index]="i"></app-appareil>
  <br>
</ul>
<button type="button" class="btn btn-sm btn-success mr-2 " 
[disabled]="!isAuth"
(click)="onAllumers()">Tout allumer
</button>
<button type="button" class="btn btn-sm btn-danger mr-2"
[disabled]="!isAuth"
(click)="onEteints()"> Tous éteints
</button>